body {
  @apply
    bg-base
    text-content
    dark:bg-base-dark
    dark:text-content-dark;
}

.tnt-container {
  @apply
    max-w-4xl
    mx-auto
    px-4
    lg:px-0;
}

header {
  @apply
    z-50
    py-4
    backdrop-blur-md
    border-b
    border-base-light
    dark:border-base-dark;
}

header nav > ul {
  @apply space-x-4;
}

header nav > ul > li {
  @apply inline;
}

footer {
  @apply my-4 text-center;
}

.tnt-breadcrumbs > nav {
  @apply my-8 text-sm;
}

.tnt-breadcrumbs > nav > ul > li {
  @apply inline;
}

.tnt-breadcrumbs > nav > ul > li + li::before {
  @apply mx-2;
  content: ">";
}
