body {
  @apply
    bg-base
    text-content
    dark:bg-base-dark
    dark:text-content-dark;
  &.bg-gradient-auto {
    @apply
      bg-fixed
      bg-gradient-to-br
      from-primary-100
      dark:from-primary-950;
  }
}

div.tnt-container {
  @apply
    max-w-4xl
    mx-auto;
}

header {
  @apply
    z-50
    py-4
    mb-4
    backdrop-blur-md
    bg-gradient-to-t
    from-primary-100
    dark:from-primary-950
    border-b
    border-primary-100
    dark:border-primary-950;
}

header nav > ul {
  @apply space-x-4;
}

header nav > ul > li {
  @apply inline;
}

footer {
  @apply my-4 text-center;
}

.tnt-breadcrumbs > nav {
  @apply my-8 text-sm;
}

.tnt-breadcrumbs > nav > ul > li {
  @apply inline;
}

.tnt-breadcrumbs > nav > ul > li + li::before {
  @apply mx-2;
  content: ">";
}
