body {
  @apply
    bg-base
    text-content
    dark:bg-base-dark
    dark:text-content-dark;
  &.bg-gradient-auto {
    @apply
      bg-fixed
      bg-gradient-to-tl
      dark:bg-gradient-to-br
      from-primary-100
      dark:from-primary-950;
  }
}

div.tnt-container {
  @apply
    max-w-4xl
    mx-auto
    my-4;
}

header {
  @apply mb-4;
}

header > nav > ul {
  @apply space-x-4;
}

header > nav > ul > li {
  @apply inline;
}

footer {
  @apply mt-4 text-center;
}

.tnt-breadcrumbs > nav {
  @apply my-8 text-sm;
}

.tnt-breadcrumbs > nav > ul > li {
  @apply inline;
}

.tnt-breadcrumbs > nav > ul > li + li::before {
  @apply mx-2;
  content: ">";
}
