/*
  TODO:
  Input types not yet addressed:
  - button (but we provide styles for the <button> element instead)
  - color
  - date
  - datetime-local
  - email
  - hidden (but this shouldn't need styling)
  - image
  - month
  - number
  - password
  - reset (a button that resets form; but use of it is not recommended)
  - search
  - submit (but again we already provide <button> styles)
  - tel
  - time
  - url
  - week
*/

input:not([type]),
input[type="text"],
input[type="file"],
select,
textarea {
  @apply
    block
    w-full
    py-2
    px-3
    rounded
    border
    focus:outline-none
    focus:ring-0
    focus:border-primary
    dark:focus:border-primary-dark
    bg-white
    text-base-700
    border-base-200
    dark:bg-base-900
    dark:text-base-300
    dark:border-base-700;
  &.error {
    @apply
      border-error
      dark:border-error-dark
      focus:border-error-hover
      dark:focus:border-error-dark-hover;
  }
}

input[type="checkbox"], input[type="radio"] {
  @apply
    checked:bg-primary
    checked:focus:bg-primary-hover
    checked:hover:bg-primary-hover
    dark:checked:bg-primary-dark
    dark:checked:focus:bg-primary-dark-hover
    dark:checked:hover:bg-primary-dark-hover;
}

input[type="checkbox"] {
  @apply
    rounded;
}

input[type="range"] {
  @apply
    block
    w-full
    py-2
    accent-primary
    hover:accent-primary-hover
    active:accent-primary-hover
    dark:accent-primary-dark
    dark:hover:accent-primary-dark-hover
    dark:active:accent-primary-dark-hover;
  /*
    Pseudo-states for range input:
      hover:
      focus:
      active:
  */
}

button:not(.btn-none) {
  @apply
    py-2
    px-4
    rounded
    font-bold
    text-white
    bg-primary
    hover:bg-primary-hover
    dark:bg-primary-dark
    dark:hover:bg-primary-dark-hover;
  /*
    TODO: Remove default colors or establish different ones
          Add additional colors for btn-{style} classes
  */
}

button.btn-none {
  @apply
    leading-none;
}
